<h1>Cobble me a Cocktail</h1>

<br></br>

<p>Enter the 2 drinks you want us to cobble together!</p><br></br>

<form action="/drinks" method="post">
  <label for="drink-select">Drink</label>
    <select id="drink-select" name="Drink">
      <option value="none">Select Your Booze!</option>
      <option value="Vodka">Vodka</option>
      <option value="Gin">Gin</option>
      <option value="Rum">Rum</option>
      <option value="Whisky">Whisky</option>
      <option value="Wine">Wine</option>
      <option value="Beer">Beer</option>
    </select>
  <br></br>

  <label for="mixer-select">Mixer</label>
    <select id="mixer-select" name="Mixer">
      <option value="none">Select Your Mixer!</option>
      <option value="Coke">Coke</option>
      <option value="Orange">Orange</option>
      <option value="Lemonade">Lemonade</option>
      <option value="Pineapple">Pineapple</option>
      <option value="Soda">Soda</option>
      <option value="Tonic">Tonic</option>
    </select>
    <br></br>
    <input type="Submit" value="Create!">
</form>
