<h1>Cobble me a Cocktail</h1>

<br></br>

<p>Enter the 2 drinks you want us to cobble together!</p><br></br>

<form action="/drinks" method="post">
  <label for="drink-select">Drink</label>
  <select id="drink-select" name="Drink">
    <option value="none">Select Your Drink!</option>
    <% for drink in @drinks %>
    <option value=<%= drink.id %>><%= drink.name %></option>
<% end %>
</select>
<br><br>
<!-- <form action="/mixers" method="post"> -->
  <label for="mixer-select">Mixer</label>
  <select id="mixer-select" name="Mixer">
    <option value="none">Select Your Mixer!</option>
    <% for mixer in @mixers %>
    <option value=<%= mixer.id %>><%= mixer.name %></option>


    <% end %>
<br></br>

    <input type="Submit" value="Create!">


</form>
