<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>CM Cocktail</title>
    <link rel="icon" href="../public/images/tab_icon.png">
      <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
      <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  </head>
  <body>
    <nav>
      <!-- <ul><li><a href="/drinks">Drinks</a></li>
      </ul> -->
      </nav>
      <%= yield %>
  </body>
</html>

 
