<form action="/drinks" method="post">
  <label for="name">Drink Name</label>
  <input type="text" name="name" id="name">

  <br><br>

  <label for="type">Drink Type</label>
  <input type="text" name="type" id="type">
  <br><br>

  <label for="abv">ABV</label>
  <input type="text" name="abv" id="abv">



</form>
